<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.fujitsu.walkbuddies">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".WalkBuddiesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivityStart"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/action_sign_in_short"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity_MB"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddChild_MB" />
        <activity android:name=".ViewChild_MB" />
        <activity
            android:name=".ViewGroupsActivity"
            android:label="@string/view_groups"
            android:screenOrientation="portrait" />
        <activity android:name=".StartWalkActivity" />
        <activity
            android:name=".KidsWalkGroups"
            android:label="@string/title_kids_walk_groups"></activity>
        <activity
            android:name=".RegisterParent"
            android:label="@string/title_register_parent" />
        <activity
            android:name=".CreateWalkGroupActivity"
            android:label="@string/create_walk_group"
            android:screenOrientation="portrait" />
    </application>

</manifest>